body {
    font-family: monospace;;
    color: #1f1f1f;
    text-align: center;
    margin: 0;
    padding-top: 60px;
    padding-bottom: 60px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3d4d39;
    flex-direction: column;
    height: 100%;
}

#radar-container {
    position: relative;
}

#radar {
    border: 2px solid black;
    border-radius: 50%;
    background-color: #1f1f1f;
}

h1 {
    margin-bottom: 60px;
}

#generate-target-btn, #eliminate-targets-btn, #display-targets-btn {
    font-family: monospace;
    font-weight: bold;
    color: #1f1f1f;
    width: 150px;
    height: 50px;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#generate-target-btn:hover, #eliminate-targets-btn:hover, #display-targets-btn {
    background-color: #45a049;
}

#console-output {
    border: 1px solid #4CAF50;
    background-color: #1f1f1f;
    color: #4CAF50;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    width: 600px;
    height: 200px;
    overflow-y: auto;
    font-family: monospace;
}

#output-area {
    white-space: pre-wrap;
    font-size: 14px;
}

#controls, #radar-buttons {
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: center;
}

#min-speed-input {
    background-color: #1f1f1f;
    color: #4CAF50;
    font-weight: bold;
    font-size: 14px;
    width: 200px;
    padding: 5px;
    border: 1px solid #4CAF50;
    border-radius: 4px;
}